<p class="copyright text-muted">
    {% if LINKS %}
    {% for title, url in LINKS %}
      <a href='{{ url }}'>{{ title }}</a>
      {% if not loop.last %} | {% endif %}
    {% endfor %}
    <br/>
    {% endif %}

    {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
    {% from 'cc-tools/cc-license.html' import cc_license_mark %}
        {{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL}) }}
        <br/>
    {% else %}
        &copy; {{ copy_date }} {{ AUTHOR }}
        <br/>
    {% endif %}
    <small>Site created using <a href="http://getpelican.com">Pelican</a></small>
</p>
