{% extends "base.html" %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading"> <!-- page-heading -->
                        {% if HEADER_LOGO %}
                        <img src="{{ SITEURL }}/{{ HEADER_LOGO }}" alt="{{ SITENAME }}">
                        {% endif %}
                        {% if SITESUBTITLE %}
<!--
                            <hr class="small">
                            <span class="subheading">{{ SITESUBTITLE }}</span>
-->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    {% for page in pages %}
      {% if page.frontpage %}
        <div class="page-listing">
<!--            <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title|striptags }}">-->
            <h2 class="page-title">{{ page.title }}</h2>
            <!-- </a> -->
            {{ page.content }}
            <hr>
        </div>
      {% endif %}
    {% endfor %}

    {% include "pagination.html" %}
{% endblock content %}
